{% extends "base.html" %}
{% block title %}Members — LibraryMS{% endblock %}

{% block content %}
<div class="section-header mb-2">
  <span class="section-title"><i class="bi bi-people me-2"></i>All Books</span>
  <a href="" class="btn btn-lms-primary btn-sm">
    <i class="bi bi-plus-lg me-1"></i>Add Book
  </a>
</div>

<!-- Search -->
<div class="mb-3">

</div>

<!-- Table -->
<div class="lms-table">
  <table class="table mb-0">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Publication Year</th>
        <th>Total copies</th>
        <th>Available Copies</th>
      </tr>
    </thead>

  </table>
</div>

<!-- Pagination -->


{% endblock %}
