{% extends "base.html" %}
{% block title %}Add Librarian {% endblock %}

{% block content %}
  <div class="section-header mb-3">
    <span class="section-title">
      <i class="bi bi-person-plus me-2"></i>Add New Librarian 
    </span>
    <a href="" class="btn btn-lms-outline btn-sm">← Back to Dashboard</a>
  </div>

  {% if success %}
    <div class="alert alert-success">
      {{ success }}
    </div>
  {% endif %}

  {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endif %}

<div class="d-flex justify-content-center">
  <div class="lms-card w-100">
    <form method="post">
      {% csrf_token %}

      <div class="row g-3">

        <div class="col-md-6">
          <label class="lms-form-label">Username</label>
          <input type="text" name="username" class="form-control lms-form-control" required>
        </div>

        <div class="col-md-6">
          <label class="lms-form-label">Password</label>
          <input type="password" name="password" class="form-control lms-form-control" required>
        </div>

        <div class="col-md-6">
          <label class="lms-form-label">First Name</label>
          <input type="text" name="name" class="form-control lms-form-control" required>
        </div>

        <div class="col-md-6">
          <label class="lms-form-label">Last Name</label>
          <input type="text" name="surname" class="form-control lms-form-control" required>
        </div>

        <div class="col-md-6">
          <label class="lms-form-label">Email</label>
          <input type="email" name="email" class="form-control lms-form-control" required>
        </div>

        <div class="col-md-6">
          <label class="lms-form-label">Phone</label>
          <input type="text" name="phone_number" class="form-control lms-form-control">
        </div>

        <div class="col-12">
          <label class="lms-form-label">Address</label>
          <textarea name="address" class="form-control lms-form-control" rows="2"></textarea>
        </div>

        <div class="col-md-6">
          <label class="lms-form-label">Active</label>
          <input type="checkbox" name="is_active">
        </div>

      </div>

      <div class="d-flex gap-2 mt-4">
        <button type="submit" class="btn btn-lms-primary">
          Save Librarian
        </button>
      </div>
    </form>
  </div>
<div>
{% endblock %}
