{% extends "base.html" %}
{% block title %}Add Member{% endblock %}

{% block content %}
<div class="section-header mb-3">
  <span class="section-title"><i class="bi bi-person-plus me-2"></i>Add New Member</span>
</div>

<div class="d-flex justify-content-center">
    <div class="lms-card w-100">
        <form method="post">
            {% csrf_token %}

            <div class="row g-3">

                <div class="col-md-6">
                    <label class="lms-form-label">Name</label>
                    <input type="text" name="name" class="form-control lms-form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="lms-form-label">Email</label>
                    <input type="email" name="email" class="form-control lms-form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="lms-form-label">Phone Number</label>
                    <input type="text" name="phone_number" class="form-control lms-form-control">
                </div>

                <div class="col-md-6">
                    <label class="lms-form-label">Membership Date</label>
                    <input type="date" name="membership_date" class="form-control lms-form-control" onclick="this.showPicker()" required>
                        {% if form.membership_date.errors %}
                            <small class="text-danger">
                                {{ form.membership_date.errors.0 }}
                            </small>
                        {% endif %}
                </div>

                <div class="col-12">
                    <label class="lms-form-label">Address</label>
                    <textarea name="address" class="form-control lms-form-control" rows="2"></textarea>
                </div>

                <div class="col-md-6">
                    <label class="lms-form-label">Active?</label>
                    <input type="checkbox" name="is_active">
                </div>

            </div>

            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-lms-primary">
                    Save member
                </button>
                <a href="" class="btn btn-lms-outline">Cancel</a>
            </div>
        </form>
    </div>
<div>
{% endblock %}
