{% extends "base.html" %}
{% block title %}Members — LibraryMS{% endblock %}

{% block content %}
<div class="section-header mb-2">
  <span class="section-title"><i class="bi bi-people me-2"></i>All Members</span>
  <a href="" class="btn btn-lms-primary btn-sm">
    <i class="bi bi-plus-lg me-1"></i>Add Member
  </a>
</div>

<!-- Search -->
<div class="mb-3">

</div>

<!-- Table -->
<div class="lms-table">
<table class="table mb-0">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Membership Date</th>
      <th>Active</th>
      <th>Registered At</th>
    </tr>
  </thead>

  <tbody>
    {% for member in members %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ member.name }}</td>
      <td>{{ member.email }}</td>
      <td>{{ member.phone_number }}</td>
      <td>{{ member.address }}</td>
      <td>{{ member.membership_date }}</td>
      <td>
        {% if member.is_active %}
          ✅
        {% else %}
          ❌
        {% endif %}
      </td>
      <td>{{ member.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<!-- Pagination -->


{% endblock %}
